<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/404.css" rel="stylesheet"/>
    <title>Не знайдено!</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Отакої...</h1>
                <h2>Помилка 403!</h2>
                <div class="error-details">
                    Вам бракує прав на доступ до сторінки
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Повернутись до списку дисциплін
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>